<a href="https://colab.research.google.com/github/pranavgautam29/machine-learning-tutorials/blob/main/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Multiple Linear Regression**

Multiple Linear Regression is an extension of simple Linear Regression but instead of one independent variable , we have a two or more independent variables and relationship between the dependent variable and independent variables is linear.

Equation of multiple Linear Regression : y = b0 + b1x1 + b2x2 + ... + bnxn

Import Essential Libraries and Modules

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

Load the Data

In [ ]:
FILEPATH = 'Housing.csv'
data = pd.read_csv(FILEPATH)
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

Basic EDA

In [ ]:

data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [ ]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

Define Features and Target

In [ ]:
features = ['area', 'bedrooms','bathrooms','stories','parking']
X = data[features]
y = data.price

In [ ]:
X.head()

   area  bedrooms  bathrooms  stories  parking
0  7420         4          2        3        2
1  8960         4          4        4        3
2  9960         3          2        2        2
3  7500         4          2        2        3
4  7420         4          1        2        2

Train Test Split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=10)
X_train.head()

     area  bedrooms  bathrooms  stories  parking
443  4320         3          1        1        1
323  5400         3          1        1        3
157  2817         4          2        2        1
231  4320         3          1        1        0
351  3600         2          1        1        0

Define and Fit the model

In [ ]:
my_model = LinearRegression()
my_model.fit(X_train,y_train)

LinearRegression()

Predict the X_test

In [ ]:
preds = my_model.predict(X_test)

Validation

In [ ]:
score = mean_absolute_error(preds,y_test)
score

763352.1073498112

In [ ]:
print('Coefficients are :', my_model.coef_)

Coefficients are : [3.52752812e+02 2.30306896e+05 1.12961991e+06 5.41082531e+05
 3.44782997e+05]

In [ ]:
print('Intercept :',my_model.intercept_)

Intercept : -362765.5056623537